/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  flex: 100%;
  padding: 1rem 2rem;
}
.header > h2 {
  color: hsl(234, 14%, 74%);
  text-align: center;
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.terms > p {
  font-size: 0.65em;
  color: hsl(234, 14%, 74%);
  padding: 0 1rem;
  flex: max-content;
  position: relative;
}
.monthly {
  left: 1.5em;
}
.annual {
  right: 1em;
}
h1 {
  font-size: 2rem;
}
.circle {
  width: 1.15em;
  height: 1.15em;
  background: white;
  position: relative;
  border-radius: 50%;
  top: 0.15em;
  left: 0.15em;
}
.check {
  width: 2.65em;
  height: 1.45em;
  cursor: pointer;
}
.pill {
  width: 2.65em;
  height: 1.45em;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 100px;
  position: absolute;
}

.bottom .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  padding: 15vh 0.5rem;
}

.card {
  background-color: white;
  padding: 2rem;
  color: hsl(232, 13%, 33%);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 -2px 8px rgba(28, 28, 28, 0.2);
  width: 15vw;
  min-width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.card > div > span {
  font-size: 35px;
}

.card > div,
span {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #555;
}
.cd2 > div,
span {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #fff;
}
.price_anual {
  display: block;
}
.price_month {
  display: none;
}

#pa1,
#pa2,
#pa3 {
  display: block;
}

#pm1,
#pm2,
#pm3 {
  display: none;
}

.cd2 {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  transform: scale(110%);
  z-index: 99;
  color: white;
}

.cd2 > .btn {
  background-color: #fff;
  background-image: none;
  color: hsl(237, 63%, 64%);
}

.btn {
  display: block;
  padding: 5px 30px;
  border-radius: 3px;
  border: none;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .bottom .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
